@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Redressed&display=swap");
.pointer {
  cursor: pointer;
}
body {
  background-color: #334062;
  /* scrollbar-width: thin; */
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #cfd8dc;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #04e9ae;
  border-radius: 10px;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(192, 192, 192);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #04e9ae;
  border-radius: 10px;
}
#nprogress .bar {
  height: 3px !important;
  width: 100%;
  background-color: #79b8ff;
  transition: width 0.4s ease 0s;
}
.bg-col {
  background-color: #334062;
}
.nav a:hover {
  border-radius: 0px;
}
.link-loc {
  color: #04e9ae;
  font-weight: 800;
}
.home-upper {
  background-color: #212b44;
}
/*---- // ----*/
.form-inp {
  width: 44%;
  margin-bottom: 1.3rem;
  margin-top: 0.4rem;
  border-radius: 29px;
  outline: none;
  padding: 0.6rem;
  padding-left: 0.9rem;
  box-shadow: 22px 17px 20px -10px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 22px 17px 20px -10px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 22px 17px 20px -10px rgba(0, 0, 0, 0.34);
  border: 2px solid #04e9ae;
}
.form-inp:focus {
  border: 2px solid #b3b3b3;
}
.heading-awesome {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 3.1rem;
  color: white;
  /* -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px; */
  margin-bottom: 1.2rem;
}
.heading-awesome-small {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: white;
  /* -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px; */
  margin-bottom: 2rem;
}
.list-categories {
  min-height: 75px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  margin-bottom: 17px;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 10%);
  transition: 0.1s linear all;
  width: 32%;
  margin: auto;
  margin-top: 1.3rem;
  transition: 0.5s;
  border: 2px solid #04e9ae;
}
.list-categories:hover {
  transform: translate(0, -4px);
  /* background-color: #04e9ae; */
  box-shadow: 3px 8px 13px 1px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 3px 8px 13px 1px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 3px 8px 13px 1px rgba(0, 0, 0, 0.38);
}
.category-image {
  margin-right: 15px;
  height: 60px;
  width: 60px;
  overflow: hidden;
  border-radius: 5px;
}
.category-name {
  margin: 0;
  color: #383838;
  font-size: 17px;
}
.low-heading {
  margin-top: 5rem;
}
.primary-link {
  transition: 0.6s;
  border: 2px solid #04e9ae;
}

.primary-link:hover {
  transform: translate(0, -8px);
  box-shadow: 3px 8px 13px 1px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 3px 8px 13px 1px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 3px 8px 13px 1px rgba(0, 0, 0, 0.38);
}
/* ----------------------------------Ribbon--------------------------------------------- */
/* ------------------------------------------------------------------------------- */
.ribbon {
  width: 103px;
  height: 108px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #33d0b0;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 167px;
  padding: 8px 0;
  background-color: #33d0b0;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  color: #fff;
  font: 500 9px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
  text-transform: uppercase;
  text-align: center;
}
/* top right */
.ribbon-top-right {
  top: -10px;
  right: -8px;
  z-index: 130;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 4px;
  right: -1px;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}
/* -------------------------home page end------------------------- */
.btn1 {
  background-color: #04e9ae;
  color: white;
  transition: 0.3s ease-out;
  font-weight: 400;
}
.btn1:hover {
  color: #04e9ae;
  background-color: white;
  transform: scale(1.1);
  font-weight: 500;
}
.text-span {
  color: #04e9ae;
  text-shadow: 2.2px 2.2px 0 #212b44, -1px -1px 0 transparent,
    1px -1px 0 rgb(33 43 68 / 0%), -1px 1px 0 transparent,
    1px 1px 0 rgb(33 43 68 / 0%);
}
.text-span3 {
  color: #3eebd4;
  text-shadow: 2.2px 2.2px 0 #212b44, -1px -1px 0 transparent,
    1px -1px 0 rgb(33 43 68 / 0%), -1px 1px 0 transparent,
    1px 1px 0 rgb(33 43 68 / 0%);
}
.text-span5 {
  text-shadow: 2.2px 2.2px 0 #212b44, -1px -1px 0 transparent,
    1px -1px 0 rgb(33 43 68 / 0%), -1px 1px 0 transparent,
    1px 1px 0 rgb(33 43 68 / 0%);
}
.logo {
  margin-left: 0.8rem;
  cursor: pointer;
}
.logo-label {
  margin-left: 0.5rem;
  margin-right: 1.2rem;
  color: black;
  font-weight: 600;
  font-family: "Barrio", cursive;
  font-family: "Redressed", cursive;
  font-size: 25px;
  cursor: pointer;
}
.text-span4 {
  background-color: #3eebd4;
  color: white;
  padding: 0.5rem 1.3rem;
  border-radius: 25px;
  font-weight: 450;
}
.text-top {
  margin-top: 0.4rem !important;
}
.text-span4:hover {
  background-color: white;
  color: #04e9ae;
  padding: 0.5rem 1.3rem;
  border-radius: 25px;
  font-weight: 450;
  border: 2px solid #04e9ae;
  outline: none;
}
.nav-tabs .nav-link {
  border: none;
}
.navb {
  position: fixed;
  z-index: 200;
  width: 100%;
  max-width: 100%;
}
.m-nav {
  margin-top: 4rem !important;
}
.m-nav2 {
  margin-top: 3.5rem !important;
}
.m-nav3 {
  margin-top: 3rem !important;
}
.marg-2 {
  margin-bottom: 2rem;
}

.upper-f {
  background-color: #009688;
}
.lower-f {
  background-color: #00786d;
}
.marg-f {
  margin-top: 5rem;
}
.footer-link {
  text-decoration: none;
  color: #04e9ae;
}
.footer-link:hover {
  color: #fff;
}
.marg-b-pages {
  margin-bottom: 4.5rem;
}
/* ---------------------------------------cg------------------------------------- */
input[type="radio"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid darkgray;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 5px 0px gray inset;
}

input[type="radio"]:hover {
  box-shadow: 0 0 5px 0px rgb(228, 221, 210) inset;
}

input[type="radio"]:before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}
input[type="radio"]:checked:before {
  background: #04e9ae;
}
.locaction-btn-nav {
  display: none;
}
.locaction-btn {
  display: block;
  margin-left: 0.4rem;
}
.MenuOutlined {
  color: #04e9ae;
}
.MenuOutline {
  border: 1px solid #04e9ae;
  outline: none;
}
.MenuOutline:focus {
  border: 1px solid #04e9ae;
  outline: none;
}
.home-btn {
  display: none;
}
.slug-img {
  max-height: 260px;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  width: inherit;
}
@media all and (max-width: 991px) {
  .locaction-btn-nav {
    display: block;
  }
  .locaction-btn {
    display: none;
  }
  .home-btn {
    display: block;
  }
}
@media all and (max-width: 500px) {
  .category-image {
    display: none;
  }
}
@media all and (max-width: 370px) {
  .category-slug {
    display: none;
  }
}

.form-set{
  width: 40%;
  position: absolute;
        top: 50%;
        left: 50%;
        margin-right: auto;
        margin-left: auto;
        transform: translate(-50%, -50%);
  background:  #4b5675;
  border-radius: 3%;
  box-shadow: 3px 3px  #5e6a8b;
    
}
